<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">게시판</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if current_user %>
          <span class="navbar-text"><%= current_user.email %></span>
          <a class="nav-item nav-link" href="/logout">로그아웃</a>
        <% else %>
          <a class="nav-item nav-link" href="/login">로그인</a>
          <a class="nav-item nav-link" href="/signup">회원가입</a>
        <% end %>
        <a class="nav-item nav-link" href="/admin">관리자</a>
      </div>
    </div>
  </div>
</nav>
<% if flash[:notice] %>
  <div class="alert alert-primary" role="alert"><%= flash[:notice] %></div>
<% elsif flash[:alert ]%>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>
